table {
    width: 100%;

    button{
        padding: 5px;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 3px;
    }

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .true{
        background-color: rgb(154, 255, 154);
    }

    .false{
        background-color: rgb(255, 154, 154);
    }
}