<p class="header" *ngIf="catalogInfo">{{catalogInfo[0].name}}</p>

<div class="buttons">
    <button (click)="downloadMultipleFile()">Pobierz wszystkie</button>
    <button (click)="chooseMultipleFile()">Pobierz Wybrane</button>
    <button (click)="downloadMultipleFile()" *ngIf="downloadMultiple">Pobierz ({{fileToDownload.length}})</button>
</div>

<mat-progress-bar mode="query" *ngIf="downloadInProgress"></mat-progress-bar><br><br>

<div class="pages" *ngIf="numberOfPages != 1">
    <div class="page-list">
        <div class="page" *ngFor="let item of pageArray" [ngClass]="isActive(item)" (click)="setPage(item)">
            <div>{{item}}</div>
        </div>
    </div>
</div>

<div class="gallery">
    <div *ngFor="let item of visiblePhoto" class="gallery-item" (click)="openDialog(item.id); addToMany(item.id)" [ngClass]="classIsActive(item.id)">
        <img id="{{ 'image-' + item.id }}" alt="">
        <div class="details">
            Name: {{item.name}}<br>
            Author: {{item.author}}<br>
            Location: {{item.location}}<br>
            Upload: {{item.upload_day | date}}<br>
        </div>
    </div>
</div>