<p class="header" *ngIf="catalogInfo">{{catalogInfo[0].name}}</p>

<div class="buttons">
    <button (click)="downloadMultipleFile()">Pobierz wszystkie</button>
    <button (click)="chooseMultipleFile()">Pobierz Wybrane</button>
    <button (click)="downloadMultipleFile()" *ngIf="downloadMultiple">Pobierz ({{fileToDownload.length}})</button>
</div>

<mat-progress-bar mode="query" *ngIf="downloadInProgress"></mat-progress-bar><br><br>

<div class="pages" *ngIf="numberOfPages != 1">
    <div class="page-list">
        <div class="page" *ngFor="let item of pageArray" [ngClass]="isActive(item)" (click)="setPage(item)">
            <div>{{item}}</div>
        </div>
    </div>
</div>

<div class="gallery">
    <div *ngFor="let item of visiblePhoto" class="gallery-item" (click)="openDialog(item); addToMany(item.id)" [ngClass]="classIsActive(item.id)">
        <img id="{{ 'image-' + item.id }}" alt="">
        <div class="details">
            Name: {{item.name}}<br>
            Author: {{item.author}}<br>
            Location: {{item.location}}<br>
            Upload: {{item.upload_day | date}}<br>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" [modal]="true"
[dismissableMask]="true" [draggable]="false" [resizable]="false">
<div class="dialog">
    <div class="over-image">
        <img id="image" [src]="imageUrl" alt="">
    </div>
    <br>
    <div>
        <div *ngIf="!isLoading">
            <span>Nazwa: {{photoDetail.name}}</span><br>
            <span>Lokacja: {{photoDetail.location}}</span><br>
            <span>Autor: {{photoDetail.author}}</span><br>
            <span>Data: {{photoDetail.upload_day | date}}</span><br><br><br>
            <mat-chip-list *ngIf="photoDetail.tags">
                <mat-chip *ngFor="let tag of stringToTag(photoDetail.tags);let index" color="accent" >{{translateTag(photoDetail.tags, index)}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="isLoading" class="dialog-info-loading">
        </div>

        <br>
        <br>
        <div class="buttons">
            <button *ngIf="lastPhoto" (click)="onLast()">Last</button>
            <div *ngIf="!lastPhoto"></div>

            <button (click)="dialogDownload()">
                <mat-icon>download</mat-icon>
            </button>

            <button *ngIf="nextPhoto" (click)="onNext()">Next</button>
            <div *ngIf="!nextPhoto"></div>
            <div></div>
        </div>
    </div>
</div>

</p-dialog>