<div class="dialog">
    <div class="over-image">
        <img id="image" alt="">
    </div>
    <br>
    <div>
        <div *ngIf="!isLoading">
            <span>Nazwa: {{photo[0].name}}</span><br>
            <span>Tagi: {{photo[0].tags}}</span><br>
            <span>Lokacja: {{photo[0].location}}</span><br>
            <span>Autor: {{photo[0].author}}</span><br>
            <span>Data: {{photo[0].upload_day | date}}</span><br><br><br>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of tags" color="accent" >{{tag}}</mat-chip>
            </mat-chip-list>
        </div>
        <br>
        <br>
        <div class="buttons">
            <button *ngIf="lastPhoto" (click)="onLast()">Last</button>
            <div *ngIf="!lastPhoto"></div>

            <button (click)="download()">
                <mat-icon>download</mat-icon>
            </button>

            <button *ngIf="nextPhoto" (click)="onNext()">Next</button>
            <div *ngIf="!nextPhoto"></div>
            <div></div>
        </div>
    </div>
</div>