.content{
    background-color: #588157;
    display: grid;
    grid-gap: 10px;
    position: sticky;
    top: 0;


    .menu-item{
        text-align: center;
        width: 100%;
        height: 100%;

        align-items: center;
        transition: .3s;
        cursor: pointer;
        color: white;
        font-weight: 500;


        &:hover{
            background-color: rgba(0, 0, 0, 0.322);
        }
    }
}

.menu-mobile-item{
    text-align: center;
    width: 100%;

    height: 40px;
    line-height: 40px;
    font-size: 20px;

    align-items: center;
    transition: .3s;
    cursor: pointer;
    color: black;
    font-weight: 500;


    &:hover{
        background-color: rgba(0, 0, 0, 0.322);
    }
}

@media screen and (max-width: 900px) {
    .content {
        height: 70px;
        width: 100%;
        grid-template-columns: 80px 9fr;

        img{
            height: 50px;
            margin: auto;
        }

        .menu-item{
            line-height: 4rem;
        }

        .menu-main{
            line-height: 4rem;
        }
    }

    button{
        height: 40px;
        width: 40px;
        margin: 15px auto;
        position: absolute;
        top: 0;
        right: 10px;
        background-color: #344E41;
        border: 1px solid #344e4134;
    }
}

@media screen and (max-width: 527px) {
    .menu-main{
        line-height: 2rem!important;
    }
}

@media screen and (min-width: 900px) {
    .content {
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        grid-template-rows: repeat(15, 1fr);
        padding: 10px;

        img{
            width: 40%;
            margin: auto;
        }
        .menu-item{
            line-height: 3rem;
        }
    }
}