<p>catalog-panel works!</p>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="visible">
        <th mat-header-cell *matHeaderCellDef> Widoczność </th>
        <td mat-cell *matCellDef="let element"> {{element.visible}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="accepted">
        <th mat-header-cell *matHeaderCellDef> Akceptacja </th>
        <td mat-cell *matCellDef="let element"> {{element.accepted}} </td>
        </ng-container>

        <mat-text-column name="score"></mat-text-column>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page">
    </mat-paginator>
</div>