<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
       
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef sortActionDescription="Sortuj przez nazwę"> Nazwa </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="visible">
            <th mat-header-cell *matHeaderCellDef> Widoczność </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button (click)="changeVisibilityStatus(element.id)" [ngClass]="getClass(element.visible)">Zmień</button>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="accepted">
            <th mat-header-cell *matHeaderCellDef> Akceptacja </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button (click)="changeAcceptenceStatus(element.id)" [ngClass]="getClass(element.accepted)">Zmień</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Edytuj </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button [routerLink]="[element.id]">Edit</button>
            </td>
        </ng-container>

        <mat-text-column name="score"></mat-text-column>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>    
</div>