.content{
    height: 100%;
    width: 100%;

    .header{
        background-color: #DAD7CD;
        width: calc(100% - 15px);

        img{
            margin: 10px;
            height: 50px;
        }
    }

    .pages{
        min-height: 40px;
        width: 100%;
    
        .page-list{
            display: inline-block;
            margin: auto;
            text-align: center;
        }
    
        .page{
            cursor: pointer;
            display: block;
            float: left;
            padding: 10px;
            margin: 5px;
            border: 1px solid black;
            border-radius: 5px;
        }
    
        .active{
            background-color: green;
            color: white;
        }
    }

    .gallery{
        display: grid;
        width: 100%;
        max-width: 800px;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        grid-gap: 5px;

        .gallery-item{
            width: 100%;
            max-width: 250px;
            transition: .2s;
            text-align: center;
            cursor: pointer;
            position: relative;

            
            img{
                margin: auto;
                content: 'null';
                width: 100%;
                max-width: 250px;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            &:hover > .details{
                visibility: visible;
                transition: .3s;
                background-color: rgba(0, 0, 0, 0.795);
            }
    
            .details{
                visibility: hidden;
                transition: .3s;
                position: absolute;
                width: 100% ;
                height: 100%;
                max-height: 250px;
                bottom: 4px;
                color: white;
                padding: 10px;
                font-size: 18px;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}
